.cart {
	// .cart__title

	&__title {
		margin-bottom: 3rem;
		font-family: 'UniSansHeavyCaps';
		font-size: 36px;
		font-weight: 900;
		text-transform: uppercase;
		color: #dadada;
	}

	// .cart__body

	&__body {
	}

	// .cart__place-order

	&__place-order {
	}

	// .cart__shopping

	&__shopping {
		margin-bottom: 3rem;
	}
}
.order-place {
}
.shopping-cart {
	// .shopping-cart__items
	&__items {
		margin-bottom: 10px;
		@include flex-align-center-justify-space-between;
		border: 1px solid #e7e7e7;
		position: relative;
		@include _490 {
			flex-wrap: wrap;
		}
	}

	// .shopping-cart__column
	&__column {
		margin: 0 1rem;
		&:nth-child(1) {
			flex: 0 1 15%;
		}
		&:nth-child(2) {
			// width: 100%;
			flex: 0 1 auto;
		}
		&:nth-child(3) {
			@include flex-align-center-justify-space-between;
		}
	}
}
