#clock {
	position: absolute;
	text-align: center;
	color: #f68038;
	text-shadow: 2px 2px 3px #000000;
	top: -7px;
	right: 0;
	font-size: 16px;
	z-index: 9;
	@include _690 {
		top: 2px;
		right: 15px;
	}
}

.header {
	z-index: 9;
	position: sticky;
	top: 0;
	left: 0;
	min-width: 100%;
	background: $bgColor url('../img/header/bg-logo.png') center top no-repeat;
	@include _768 {
		background: $bgColor url('../img/header/bg-logo.png') left top no-repeat;
	}
}

.top-header {
	// .top-header__grid-content
	&__grid-content {
		align-items: center;
		grid-template-columns: 1fr 150px 1fr;
		grid-template-rows: 90px;

		@include _690 {
			margin: 0;
			grid-template-columns: auto auto 30px;
			justify-items: end;
			gap: 10px;
			&__menu {
				display: none;
			}
		}
		@include _490 {
			justify-items: center;
		}
		@include _375 {
			grid-template-columns: auto 30px;
			gap: 15px;
		}
	}

	// .top-header__column
	&__column {
		&:nth-child(2) {
			align-self: end;
			justify-self: center;
			@include _768 {
				align-self: center;
				z-index: 4;
			}
		}
		&:nth-child(3) {
			width: 100%;
			position: relative;
			justify-self: center;
			z-index: 4;
			@include _375 {
				display: none;
			}
		}
		&:nth-child(4) {
			display: none;
		}
		@include _690 {
			margin: 0;
			grid-template-columns: auto auto 30px;
			justify-items: end;
			gap: 10px;
			&__menu {
				display: none;
			}
			&:nth-child(3) {
				justify-self: center;
				z-index: 55;
				@include _375 {
					display: none;
				}
			}
			&:nth-child(4) {
				display: flex;
			}
		}
	}

	// .top-header__menu
	&__menu {
		@include _690 {
			display: flex;
			width: 100%;
			flex-direction: column;
			justify-content: space-between;

			> :nth-child(1) {
				margin: 110px 0 20px;
			}
		}
	}

	// .top-header__logo
	&__logo {
		text-align: center;
		justify-self: center;

		@include _768 {
			img {
				width: 90%;
				min-width: 50px;
			}
		}
	}

	// .top-header__contacts
	&__contacts {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70px;
		@include _375 {
			background: $blue;
			border-top: 2px dashed $gray;
			border-bottom: 2px dashed $gray;
		}
	}
}
.menu {
	// .menu__grid-list

	&__grid-list {
		row-gap: 2px;
		column-gap: 5px;
		@include _920 {
			margin-top: 0;
			grid-template-columns: 50% 50%;
		}
		@include _min-920 {
			grid-template-columns: min-content min-content min-content;
			a:hover {
				transition: 0.3s ease 0s;
				text-decoration: underline;
				border-radius: 27px;
				background-color: $darkcyan;
				text-shadow: 1px 1px 1px #000;
			}
		}

		li {
			height: 27px;
			margin-bottom: 2px;

			@include _920 {
				height: 20px;
			}
		}
	}

	// .menu__link
	&__link {
		font: {
			family: Play, sans-serif;
			size: 14px;
			weight: 700;
		}
		line-height: 172%;
		display: inline-block;
		height: 27px;
		padding: 0 22px;
		white-space: nowrap;
		border-radius: 27px;
		@include _920 {
			font-size: 13px;
		}
		@include _920-1170 {
			padding: 0 calc(10px + (22 - 10) * ((100vw - 920px) / (1170 - 920)));
		}
	}
}
.contacts-header {
	// .contacts-header__column

	&__column {
		white-space: nowrap;
		&:nth-child(1) {
			padding-left: 30px;
			@include _1024 {
				justify-self: center;
			}
		}
		&:nth-child(2) {
			display: flex;
			flex-direction: row;
			align-self: center;

			> :nth-child(1) {
				border-right: 1px solid $bgColor;

				@include _690-920 {
					margin-bottom: 10px;
					border: none;
				}
				@include _375-490 {
					margin-bottom: 10px;
					border: none;
				}
			}

			@include _690-920 {
				flex-direction: column;
			}
			@include _375-490 {
				flex-direction: column;
			}
			@include _375 {
				width: 100%;
				justify-content: space-evenly;
			}
		}
	}
	@include _375 {
		background-size: 15px 20px;
	}

	// .contacts-header__icon

	&__icon {
		width: 19px;
		height: 25px;
		cursor: pointer;
		background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='19' height='25' viewBox='0 0 448 448'%3E%3Ctitle%3Ephon%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%23fff' d='M95.132 195.074c34.559 67.599 90.132 123.235 157.794 158.553l53.358-53.358c6.013-6.013 15.76-8.291 24.052-5.254 27.090 8.292 56.333 13.545 85.701 13.545 13.545 0 24.052 10.507 24.052 24.052v83.422c0 13.545-10.507 24.052-24.052 24.052-225.456 0-408.061-182.605-408.061-408.061 0-13.545 10.507-24.052 24.052-24.052h84.182c12.785 0 24.052 10.507 24.052 24.052 0 30.065 4.494 58.611 13.545 85.701 2.975 8.291 0.76 18.039-6.013 24.811l-52.661 52.535z'%3E%3C/path%3E%3C/svg%3E");
	}

	// .contacts-header__item
	&__item {
		padding: 0 32px;
		display: flex;
		flex-direction: column;
		@include _920-1024 {
			padding: 0 calc(10px + (32 - 10) * ((100vw - 920px) / (1024 - 920)));
		}
		@include _690-768 {
			padding: 0 calc(20px + (32 - 20) * ((100vw - 690px) / (768 - 690)));
		}
		@include _375-690 {
			padding: 0 calc(10px + (32 - 20) * ((100vw - 375px) / (690 - 375)));
		}
		@include _375 {
			padding: 0 calc(15px + (32 - 20) * ((100vw - 320px) / (375 - 320)));
		}
		@include _375 {
			&:first-child {
				padding-right: calc(18px + (30 - 18) * ((100vw - 320px) / (375 - 320)));
			}
		}
	}

	// .contacts-header__title
	&__title {
		font: {
			size: 12px;
			weight: 300;
		}
		min-width: 100%;
		line-height: 100%;
		text-shadow: 1px 1px 1px $BlackShadow;
		color: $fontColor;
		@include _320 {
			font-size: 11px;
		}
	}

	// .contacts-header__phone
	&__phone {
		font: {
			size: 18px;
			weight: 900;
		}
		min-width: 100%;
		line-height: 100%;
		margin-top: 5px;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px $BlackShadow;
		a:hover {
			transition: 0.3s ease 0s;
			text-shadow: 1px 1px 1px#ff0a0a;
		}
		@include _1140-1024 {
			font-size: calc((14px + (18 - 14) * ((100vw - 1024px) / (1140 - 1024))));
		}
		@include _1024 {
			font-size: 14px;
		}

		@include _690 {
			font-size: 14px;
		}
		@include _375 {
			font-size: 12px;
		}
	}
}
.bottom-header {
	@include _375 {
		&__content::after {
			content: '';
			height: 50px;
			background: $darkcyan;
			grid-column: 2 / 3;
			grid-row: 1 / 3;
		}
	}

	// .bottom-header__content
	&__content {
		font: {
			size: 14px;
			weight: 400;
		}
		display: grid;
		align-items: center;
		justify-content: space-between;
		padding: 10px 15px 0;
		white-space: nowrap;
		color: $textColor;
		gap: 5px;
		grid-template-columns: 41.65% 41.65%;
		@include _920 {
			font-size: 12px;
		}
		@include _768 {
			grid-template-columns: 1fr 1fr;
		}
		@include _490 {
			grid-template-columns: max-content 1fr;
		}
		@include _375 {
			font-size: 11px;
			grid-template-columns: max-content 1px max-content;
		}
	}

	// .bottom-header__service
	&__service {
		display: grid;
		grid-template-columns: auto auto auto;
		row-gap: 5px;
		margin-left: 7px;
		@include _690 {
			grid-template-columns: auto auto;
			li:nth-child(1) {
				align-self: center;
				grid-row: 1 / -3;
			}
		}
		@include _490 {
			li:nth-child(1) {
				grid-column: -3 / -2;
				grid-row: 2 / 3;
			}
			li:nth-child(2) {
				grid-column: 1 / 3;
				grid-row: 1 / 2;
			}
			li:nth-child(3) {
				grid-column: -2 / -1;
				grid-row: 2 / 3;
			}
		}
		li {
			line-height: 170%;
			height: 24px;

			span {
				font: {
					weight: 400;
				}
				padding-left: 33px;
				text-decoration: 1px underline;
				text-decoration-color: $gray;
				text-decoration-style: dashed;
				@include _375 {
					padding-left: 28px;
				}
			}

			span:hover {
				font-weight: 400;
				text-decoration: underline;
				color: $blue;
				text-decoration-color: $blue;
			}
		}
	}

	// .bottom-header__info
	&__info {
		display: grid;
		grid-template-columns: auto auto 84px;
		align-items: center;
		justify-content: space-between;
		font-size: 12px;
		gap: 5px;

		span {
			font-weight: 900;
		}

		@include _920 {
			align-items: center;
			justify-content: space-evenly;
			grid-template-columns: 1fr 84px;
			grid-template-rows: 20px 26px;
			> :nth-child(1) {
				grid-column: 1 / 2;
			}
			> :nth-child(2) {
				grid-column: 1 / 2;
				grid-row: 2 / 3;
			}
			> :nth-child(3) {
				grid-column: 2 / 3;
				grid-row: -1 / -3;
			}
		}
		@include _490 {
			font-size: 11px;
			grid-template-columns: 1fr 55px;
		}
		@include _375 {
			grid-template-columns: 1fr 45px;
		}
	}
}
.service-header {
	// .service-header__login

	&__login {
		background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 456 448'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%23ddd' d='M232.668 44.871c-49.616 0.745-91.498 17.703-126.418 51.587-4.359 4.233-9.155 7.259-15.41 7.733-9.572 0.72-18.36-4.176-22.397-12.705-4.107-8.681-2.603-18.866 4.429-25.632 6.741-6.489 13.654-12.87 21.007-18.638 28.134-22.069 59.908-36.354 94.966-43.19 19.377-3.778 38.945-4.84 58.688-3.424 42.255 3.033 80.751 16.597 114.957 41.497 47.069 34.263 76.594 80.107 88.611 137.158 3.993 18.954 5.326 38.142 4.176 57.4-6.015 100.419-75.475 180.026-166.36 203.871-22.549 5.914-45.49 8.504-68.702 7.114-56.963-3.412-106.061-24.956-146.85-65.038-9.281-9.123-9.496-23.238-0.644-32.291 8.839-9.041 22.979-9.218 32.266-0.038 18.841 18.626 40.518 32.728 65.423 41.813 22.082 8.056 44.858 11.423 68.368 10.595 72.341-2.54 133.81-49.3 158.943-112.145 7.43-18.581 11.575-37.852 12.604-57.88 3.936-76.802-41.769-144.715-108.475-173.348-16.894-7.253-34.516-11.903-52.889-13.394-5.762-0.468-11.543-0.739-16.288-1.036z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M164.869 241.216c-10.848 0-21.69 0.070-32.538-0.057-2.319-0.025-3.235 0.79-3.993 2.912-8.908 25.063-26.498 40.48-52.654 44.858-33.372 5.585-66.479-16.307-74.136-50.911-8.226-37.195 17.115-73.637 54.613-79.266 31.11-4.669 61.816 14.070 71.874 44.081 1.030 3.077 2.357 3.892 5.497 3.885 57.911-0.101 115.822-0.076 173.733-0.063 8.934 0 16.616 6.514 17.4 14.671 0.942 9.837-4.562 17.994-13.83 19.542-4.517 0.752-9.237 0.297-13.862 0.347-3.052 0.038-6.116 0.139-9.161-0.032-2.281-0.126-2.9 0.752-2.856 2.919 0.101 5.048 0.076 10.109-0.063 15.157-0.259 9.275-7.942 16.654-17.21 16.654-9.123 0-17.008-7.512-17.311-16.686-0.171-5.156-0.108-10.318-0.019-15.479 0.031-1.914-0.606-2.635-2.546-2.559-3.153 0.12-6.325 0.171-9.471-0.013-2.369-0.139-2.78 0.91-2.774 2.976 0.063 14.424 0.057 28.848 0.019 43.272-0.025 9.401-5.478 15.985-14.626 17.792-9.774 1.933-19.839-6.129-19.908-16.13-0.101-14.74-0.108-29.48 0.025-44.22 0.025-2.888-0.733-3.759-3.677-3.715-10.842 0.171-21.69 0.070-32.532 0.063zM65.828 193.016c-17.602 0.044-31.211 13.678-31.142 31.199 0.076 17.198 13.874 30.649 31.413 30.617 17.229-0.031 30.762-13.641 30.718-30.889-0.044-17.52-13.52-30.971-30.99-30.927z'%3E%3C/path%3E%3C/svg%3E%0A")
			center left no-repeat;
		transition: all 0.3s ease-in-out;
		&:hover {
			background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 456 448'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%231ab9ce' d='M232.668 44.871c-49.616 0.745-91.498 17.703-126.418 51.587-4.359 4.233-9.155 7.259-15.41 7.733-9.572 0.72-18.36-4.176-22.397-12.705-4.107-8.681-2.603-18.866 4.429-25.632 6.741-6.489 13.654-12.87 21.007-18.638 28.134-22.069 59.908-36.354 94.966-43.19 19.377-3.778 38.945-4.84 58.688-3.424 42.255 3.033 80.751 16.597 114.957 41.497 47.069 34.263 76.594 80.107 88.611 137.158 3.993 18.954 5.326 38.142 4.176 57.4-6.015 100.419-75.475 180.026-166.36 203.871-22.549 5.914-45.49 8.504-68.702 7.114-56.963-3.412-106.061-24.956-146.85-65.038-9.281-9.123-9.496-23.238-0.644-32.291 8.839-9.041 22.979-9.218 32.266-0.038 18.841 18.626 40.518 32.728 65.423 41.813 22.082 8.056 44.858 11.423 68.368 10.595 72.341-2.54 133.81-49.3 158.943-112.145 7.43-18.581 11.575-37.852 12.604-57.88 3.936-76.802-41.769-144.715-108.475-173.348-16.894-7.253-34.516-11.903-52.889-13.394-5.762-0.468-11.543-0.739-16.288-1.036z'%3E%3C/path%3E%3Cpath fill='%231ab9ce' d='M164.869 241.216c-10.848 0-21.69 0.070-32.538-0.057-2.319-0.025-3.235 0.79-3.993 2.912-8.908 25.063-26.498 40.48-52.654 44.858-33.372 5.585-66.479-16.307-74.136-50.911-8.226-37.195 17.115-73.637 54.613-79.266 31.11-4.669 61.816 14.070 71.874 44.081 1.030 3.077 2.357 3.892 5.497 3.885 57.911-0.101 115.822-0.076 173.733-0.063 8.934 0 16.616 6.514 17.4 14.671 0.942 9.837-4.562 17.994-13.83 19.542-4.517 0.752-9.237 0.297-13.862 0.347-3.052 0.038-6.116 0.139-9.161-0.032-2.281-0.126-2.9 0.752-2.856 2.919 0.101 5.048 0.076 10.109-0.063 15.157-0.259 9.275-7.942 16.654-17.21 16.654-9.123 0-17.008-7.512-17.311-16.686-0.171-5.156-0.108-10.318-0.019-15.479 0.031-1.914-0.606-2.635-2.546-2.559-3.153 0.12-6.325 0.171-9.471-0.013-2.369-0.139-2.78 0.91-2.774 2.976 0.063 14.424 0.057 28.848 0.019 43.272-0.025 9.401-5.478 15.985-14.626 17.792-9.774 1.933-19.839-6.129-19.908-16.13-0.101-14.74-0.108-29.48 0.025-44.22 0.025-2.888-0.733-3.759-3.677-3.715-10.842 0.171-21.69 0.070-32.532 0.063zM65.828 193.016c-17.602 0.044-31.211 13.678-31.142 31.199 0.076 17.198 13.874 30.649 31.413 30.617 17.229-0.031 30.762-13.641 30.718-30.889-0.044-17.52-13.52-30.971-30.99-30.927z'%3E%3C/path%3E%3C/svg%3E%0A")
				center left no-repeat;
		}
		@include _490 {
			background-size: 20px;
		}
	}

	// .service-header__registration
	&__registration {
		background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='21' height='24' viewBox='0 0 505 640'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%23ddd' d='M334.471 640h-326.361c-0.333-5.166-2.556-11.11-0.777-15.388 12.166-29.164 25.831-57.717 37.719-86.992 20.831-51.217 27.942-101.658-1-153.931-18.221-32.942-29.609-69.716-44.108-104.769 0-41.719 0-83.382 0-125.1 16.387-35.664 31.219-72.161 49.94-106.546 6.055-11.11 21.387-18.498 33.997-24.498 18.054-8.555 37.441-14.332 56.273-21.276 41.607-0.556 83.271-1.056 124.878-1.611 69.216 2.166 132.822 19.609 183.484 69.938 31.886 31.664 31.719 40.663 3.055 74.771-2.777 3.278-5.778 8.111-5.499 11.943 3.666 48.94-18.665 104.324 34.108 141.377 32.942 27.72 32.386 37.608 0.889 68.828-5.999 5.944-7.499 18.609-7.499 28.22 0 43.885-30.275 75.382-46.551 112.324-5.166 11.721-29.664 16.832-46.329 20.887-13.721 3.333-28.886 0.667-46.385 0.667v110.991z'%3E%3C/path%3E%3C/svg%3E%0A")
			center left no-repeat;
		transition: all 0.3s ease-in-out;

		&:hover {
			background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='21' height='24' viewBox='0 0 505 640'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%231ab9ce' d='M334.471 640h-326.361c-0.333-5.166-2.556-11.11-0.777-15.388 12.166-29.164 25.831-57.717 37.719-86.992 20.831-51.217 27.942-101.658-1-153.931-18.221-32.942-29.609-69.716-44.108-104.769 0-41.719 0-83.382 0-125.1 16.387-35.664 31.219-72.161 49.94-106.546 6.055-11.11 21.387-18.498 33.997-24.498 18.054-8.555 37.441-14.332 56.273-21.276 41.607-0.556 83.271-1.056 124.878-1.611 69.216 2.166 132.822 19.609 183.484 69.938 31.886 31.664 31.719 40.663 3.055 74.771-2.777 3.278-5.778 8.111-5.499 11.943 3.666 48.94-18.665 104.324 34.108 141.377 32.942 27.72 32.386 37.608 0.889 68.828-5.999 5.944-7.499 18.609-7.499 28.22 0 43.885-30.275 75.382-46.551 112.324-5.166 11.721-29.664 16.832-46.329 20.887-13.721 3.333-28.886 0.667-46.385 0.667v110.991z'%3E%3C/path%3E%3C/svg%3E%0A")
				center left no-repeat;
		}
		@include _490 {
			background-size: 18px;
		}
	}

	// .service-header__email
	&__email {
		a {
			display: block;
			height: 24px;
			background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='21' height='24' viewBox='0 0 800 640'%3E%3Ctitle%3Ephon%3C/title%3E%3Cpath fill='%23dddddd' d='M720 64c44.2 0 80 28.7 80 64v0 384c0 35.3-35.8 64-80 64v0h-640c-44.2 0-80-28.7-80-64v0-384c0-35.2 36-64 80-64h640zM545.2 355.2l254.8 156.8v-64l-204.8-124.8 204.8-131.2v-64l-400 256-400-256v64l204.8 131.2-204.8 124.8v64l254.8-156.8 145.2 92.8 145.2-92.8z'%3E%3C/path%3E%3C/svg%3E")
				center left no-repeat;
			transition: all 0.3s ease-in-out;
			@include _min-690 {
				&:hover {
					background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='21' height='24' viewBox='0 0 800 640'%3E%3Ctitle%3Ephon%3C/title%3E%3Cpath fill='%231ab9ce' d='M720 64c44.2 0 80 28.7 80 64v0 384c0 35.3-35.8 64-80 64v0h-640c-44.2 0-80-28.7-80-64v0-384c0-35.2 36-64 80-64h640zM545.2 355.2l254.8 156.8v-64l-204.8-124.8 204.8-131.2v-64l-400 256-400-256v64l204.8 131.2-204.8 124.8v64l254.8-156.8 145.2 92.8 145.2-92.8z'%3E%3C/path%3E%3C/svg%3E")
						center left no-repeat;
				}
			}
		}

		@include _490 {
			background-size: 20px;
			a {
				span {
					display: none;
				}
			}
		}
	}
}
.info-header {
	// .info-header__column
	&__column {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;

		// .info-header__column_basket
		&_basket {
			height: 43px;
		}
		@include _920 {
			justify-content: center;
		}
		&:nth-child(1) {
			justify-self: center;
		}
		&:nth-child(2) {
			justify-self: center;
		}
		&:nth-child(3) {
			justify-self: start;
			width: 60px;
		}
	}

	// .info-header__callback
	&__callback {
		font-size: 14px;
		line-height: 157%;
		height: 20px;
		padding: 0 5px 0 50px;
		background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='24' viewBox='0 0 451 448'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%23ddd' d='M95.201 194.813c34.909 68.284 91.045 124.484 159.393 160.16l53.898-53.898c6.074-6.074 15.92-8.375 24.296-5.307 27.365 8.376 56.903 13.682 86.569 13.682 13.682 0 24.296 10.613 24.296 24.296v84.268c0 13.682-10.613 24.296-24.296 24.296-227.74 0-412.196-184.456-412.196-412.196 0-13.682 10.613-24.296 24.296-24.296h85.035c12.915 0 24.296 10.613 24.296 24.296 0 30.37 4.54 59.205 13.682 86.569 3.005 8.376 0.767 18.222-6.074 25.063l-53.195 53.067z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M296.855 162.653h20.779c5.562 0 10.102 4.54 10.102 10.102v20.779c0 5.562-4.539 10.102-10.102 10.102h-20.779c-5.562 0-10.102-4.54-10.102-10.102v-20.779c0-5.562 4.539-10.102 10.102-10.102z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M194.558 162.653h20.779c5.562 0 10.102 4.54 10.102 10.102v20.779c0 5.562-4.54 10.102-10.102 10.102h-20.779c-5.562 0-10.102-4.54-10.102-10.102v-20.779c0-5.626 4.54-10.102 10.102-10.102z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M399.153 162.653h20.779c5.562 0 10.102 4.54 10.102 10.102v20.779c0 5.562-4.539 10.102-10.102 10.102h-20.779c-5.562 0-10.102-4.54-10.102-10.102v-20.779c0-5.562 4.539-10.102 10.102-10.102z'%3E%3C/path%3E%3C/svg%3E")
			center left 15px no-repeat;
		transition: all 0.3s ease-in-out;

		p {
			text-decoration: 1px underline;
			text-decoration-color: $gray;
			text-decoration-style: dashed;
		}
		@include _min-920 {
			&:hover {
				background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='24' viewBox='0 0 451 448'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%231ab9ce' d='M95.201 194.813c34.909 68.284 91.045 124.484 159.393 160.16l53.898-53.898c6.074-6.074 15.92-8.375 24.296-5.307 27.365 8.376 56.903 13.682 86.569 13.682 13.682 0 24.296 10.613 24.296 24.296v84.268c0 13.682-10.613 24.296-24.296 24.296-227.74 0-412.196-184.456-412.196-412.196 0-13.682 10.613-24.296 24.296-24.296h85.035c12.915 0 24.296 10.613 24.296 24.296 0 30.37 4.54 59.205 13.682 86.569 3.005 8.376 0.767 18.222-6.074 25.063l-53.195 53.067z'%3E%3C/path%3E%3Cpath fill='%231ab9ce' d='M296.855 162.653h20.779c5.562 0 10.102 4.54 10.102 10.102v20.779c0 5.562-4.539 10.102-10.102 10.102h-20.779c-5.562 0-10.102-4.54-10.102-10.102v-20.779c0-5.562 4.539-10.102 10.102-10.102z'%3E%3C/path%3E%3Cpath fill='%231ab9ce' d='M194.558 162.653h20.779c5.562 0 10.102 4.54 10.102 10.102v20.779c0 5.562-4.54 10.102-10.102 10.102h-20.779c-5.562 0-10.102-4.54-10.102-10.102v-20.779c0-5.626 4.54-10.102 10.102-10.102z'%3E%3C/path%3E%3Cpath fill='%231ab9ce' d='M399.153 162.653h20.779c5.562 0 10.102 4.54 10.102 10.102v20.779c0 5.562-4.539 10.102-10.102 10.102h-20.779c-5.562 0-10.102-4.54-10.102-10.102v-20.779c0-5.562 4.539-10.102 10.102-10.102z'%3E%3C/path%3E%3C/svg%3E")
					center left 15px no-repeat;
				color: #009baf;
				p {
					color: #009baf;
				}
			}
		}
		@include _920 {
			background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='24' viewBox='0 0 451 448'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%23ddd' d='M95.201 194.813c34.909 68.284 91.045 124.484 159.393 160.16l53.898-53.898c6.074-6.074 15.92-8.375 24.296-5.307 27.365 8.376 56.903 13.682 86.569 13.682 13.682 0 24.296 10.613 24.296 24.296v84.268c0 13.682-10.613 24.296-24.296 24.296-227.74 0-412.196-184.456-412.196-412.196 0-13.682 10.613-24.296 24.296-24.296h85.035c12.915 0 24.296 10.613 24.296 24.296 0 30.37 4.54 59.205 13.682 86.569 3.005 8.376 0.767 18.222-6.074 25.063l-53.195 53.067z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M296.855 162.653h20.779c5.562 0 10.102 4.54 10.102 10.102v20.779c0 5.562-4.539 10.102-10.102 10.102h-20.779c-5.562 0-10.102-4.54-10.102-10.102v-20.779c0-5.562 4.539-10.102 10.102-10.102z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M194.558 162.653h20.779c5.562 0 10.102 4.54 10.102 10.102v20.779c0 5.562-4.54 10.102-10.102 10.102h-20.779c-5.562 0-10.102-4.54-10.102-10.102v-20.779c0-5.626 4.54-10.102 10.102-10.102z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M399.153 162.653h20.779c5.562 0 10.102 4.54 10.102 10.102v20.779c0 5.562-4.539 10.102-10.102 10.102h-20.779c-5.562 0-10.102-4.54-10.102-10.102v-20.779c0-5.562 4.539-10.102 10.102-10.102z'%3E%3C/path%3E%3C/svg%3E")
				center left no-repeat;
			font-size: 12px;
			padding: 0 5px 0 35px;
		}

		@include _375 {
			padding-left: 5px;
			background-image: none;
		}
	}

	// .info-header__schedule
	&__schedule {
		padding: 0 5px 0 50px;
		background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='24' viewBox='0 0 1024 1024'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%23ddd' d='M209.28 2.88c-8.64 3.84-26.24 24.32-28.48 33.28-1.28 4.16-1.6 45.44-0.96 92.16 0.96 93.76 1.6 95.68 22.72 108.48 8.96 5.44 16.32 6.4 54.72 6.4 40.96 0 45.76-0.64 55.040-7.040 20.48-14.080 20.8-16.64 22.72-110.72 1.28-84.8 1.28-85.44-6.080-97.92-14.080-23.68-19.84-25.92-69.12-26.56-24-0.32-46.72 0.32-50.56 1.92z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M721.6 3.2c-3.52 1.28-11.84 8.32-18.56 15.68l-11.84 13.12v88.32c0 94.72 0.32 97.28 17.6 113.28 8.32 7.68 10.24 8 57.6 8.96l49.28 0.96 27.52-25.6 1.92-183.68-8-11.84c-12.48-18.88-23.68-22.4-69.76-22.080-21.44 0-42.24 1.28-45.76 2.88z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M59.84 138.88c-19.2 7.040-39.36 25.6-49.28 46.080l-8.96 18.24v374.4c0 311.68 0.64 376.64 4.48 386.88 5.44 15.68 29.44 41.92 46.72 50.88l12.8 7.040h892.8l15.040-7.36c16.64-8.32 35.52-27.84 43.84-45.44 4.48-10.24 5.12-46.4 5.12-390.4 0-343.040-0.64-380.16-5.12-390.72-7.68-16.64-24.32-34.24-42.56-44.8-16-8.96-17.28-9.28-61.76-9.28h-45.76v39.040c0 45.12-4.16 58.24-23.36 75.2-17.6 15.36-30.72 18.56-77.44 18.56-36.8-0.32-43.52-0.96-56.64-7.68-16.64-8-29.76-21.76-36.8-37.76-2.56-6.72-4.16-23.68-4.16-48.96v-38.4h-309.44l-2.24 14.72c-0.96 8.32-1.92 26.24-1.92 40.32 0 29.12-4.48 41.6-19.52 56s-30.4 19.84-61.12 22.080c-55.36 4.16-88.96-6.72-107.2-34.24-8-11.84-8.64-16-9.92-56l-1.6-42.88h-41.92c-26.56 0.32-46.4 1.92-54.080 4.48zM979.2 675.2v275.52l-14.4 14.4-14.4 14.080-437.76-0.64c-415.68-0.96-438.080-1.28-446.4-6.72-5.12-3.2-11.84-10.24-15.040-16-6.080-9.92-6.4-18.24-6.4-281.28 0-255.36 0.32-271.040 5.76-272.32 2.88-0.96 213.12-1.6 467.2-1.92l461.44-0.32v275.2z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M331.2 493.12c-22.4 4.48-52.16 19.52-69.76 34.88-15.040 13.44-32.32 43.52-36.16 63.040l-1.92 10.56h86.4l2.24-9.6c6.72-30.4 45.76-47.36 75.2-32.64 16.96 8.32 25.6 23.68 25.6 45.12 0 30.4-8 41.6-78.4 114.24-68.16 70.4-80.96 85.76-93.44 112.64-7.68 16.32-16.96 45.76-16.96 54.080 0 3.2 28.8 4.16 132.8 4.16h132.8v-67.2l-77.44-0.64-77.76-0.96 61.12-62.4c65.6-67.2 80.96-88.32 89.6-121.92 15.36-59.52-11.84-117.44-64.32-136.96-20.48-7.68-66.88-10.88-89.6-6.4z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M599.36 616.64l-87.36 127.040v59.52h156.8v86.4h86.4v-86.080l46.4-1.92-0.32-31.36c-0.32-17.28-1.28-32-1.92-32.96-0.96-0.64-11.2-2.24-23.040-3.52l-21.12-1.92v-242.24h-68.8l-87.040 127.040zM668.8 678.4v54.4h-77.12l36.16-54.080c19.84-30.080 37.12-54.4 38.72-54.4 1.28-0.32 2.24 24 2.24 54.080z'%3E%3C/path%3E%3C/svg%3E%0A")
			center left 15px no-repeat;
		@include _1024 {
			font-size: 10px;
		}
		@include _920 {
			padding: 0 5px 0 35px;
			background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='24' viewBox='0 0 1024 1024'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%23ddd' d='M209.28 2.88c-8.64 3.84-26.24 24.32-28.48 33.28-1.28 4.16-1.6 45.44-0.96 92.16 0.96 93.76 1.6 95.68 22.72 108.48 8.96 5.44 16.32 6.4 54.72 6.4 40.96 0 45.76-0.64 55.040-7.040 20.48-14.080 20.8-16.64 22.72-110.72 1.28-84.8 1.28-85.44-6.080-97.92-14.080-23.68-19.84-25.92-69.12-26.56-24-0.32-46.72 0.32-50.56 1.92z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M721.6 3.2c-3.52 1.28-11.84 8.32-18.56 15.68l-11.84 13.12v88.32c0 94.72 0.32 97.28 17.6 113.28 8.32 7.68 10.24 8 57.6 8.96l49.28 0.96 27.52-25.6 1.92-183.68-8-11.84c-12.48-18.88-23.68-22.4-69.76-22.080-21.44 0-42.24 1.28-45.76 2.88z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M59.84 138.88c-19.2 7.040-39.36 25.6-49.28 46.080l-8.96 18.24v374.4c0 311.68 0.64 376.64 4.48 386.88 5.44 15.68 29.44 41.92 46.72 50.88l12.8 7.040h892.8l15.040-7.36c16.64-8.32 35.52-27.84 43.84-45.44 4.48-10.24 5.12-46.4 5.12-390.4 0-343.040-0.64-380.16-5.12-390.72-7.68-16.64-24.32-34.24-42.56-44.8-16-8.96-17.28-9.28-61.76-9.28h-45.76v39.040c0 45.12-4.16 58.24-23.36 75.2-17.6 15.36-30.72 18.56-77.44 18.56-36.8-0.32-43.52-0.96-56.64-7.68-16.64-8-29.76-21.76-36.8-37.76-2.56-6.72-4.16-23.68-4.16-48.96v-38.4h-309.44l-2.24 14.72c-0.96 8.32-1.92 26.24-1.92 40.32 0 29.12-4.48 41.6-19.52 56s-30.4 19.84-61.12 22.080c-55.36 4.16-88.96-6.72-107.2-34.24-8-11.84-8.64-16-9.92-56l-1.6-42.88h-41.92c-26.56 0.32-46.4 1.92-54.080 4.48zM979.2 675.2v275.52l-14.4 14.4-14.4 14.080-437.76-0.64c-415.68-0.96-438.080-1.28-446.4-6.72-5.12-3.2-11.84-10.24-15.040-16-6.080-9.92-6.4-18.24-6.4-281.28 0-255.36 0.32-271.040 5.76-272.32 2.88-0.96 213.12-1.6 467.2-1.92l461.44-0.32v275.2z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M331.2 493.12c-22.4 4.48-52.16 19.52-69.76 34.88-15.040 13.44-32.32 43.52-36.16 63.040l-1.92 10.56h86.4l2.24-9.6c6.72-30.4 45.76-47.36 75.2-32.64 16.96 8.32 25.6 23.68 25.6 45.12 0 30.4-8 41.6-78.4 114.24-68.16 70.4-80.96 85.76-93.44 112.64-7.68 16.32-16.96 45.76-16.96 54.080 0 3.2 28.8 4.16 132.8 4.16h132.8v-67.2l-77.44-0.64-77.76-0.96 61.12-62.4c65.6-67.2 80.96-88.32 89.6-121.92 15.36-59.52-11.84-117.44-64.32-136.96-20.48-7.68-66.88-10.88-89.6-6.4z'%3E%3C/path%3E%3Cpath fill='%23ddd' d='M599.36 616.64l-87.36 127.040v59.52h156.8v86.4h86.4v-86.080l46.4-1.92-0.32-31.36c-0.32-17.28-1.28-32-1.92-32.96-0.96-0.64-11.2-2.24-23.040-3.52l-21.12-1.92v-242.24h-68.8l-87.040 127.040zM668.8 678.4v54.4h-77.12l36.16-54.080c19.84-30.080 37.12-54.4 38.72-54.4 1.28-0.32 2.24 24 2.24 54.080z'%3E%3C/path%3E%3C/svg%3E%0A")
				center left no-repeat;
		}
		@include _490 {
			background-size: 20px;
		}
		@include _375 {
			padding-left: 5px;
			background-image: none;
		}
	}

	// .info-header__orders
	&__orders {
		line-height: 138%;
		width: 43px;
		height: 43px;
		border-radius: 100%;
		position: relative;
		&.icon-cart-circle {
			font-size: 39px;
			color: #068292;
		}

		@include _min-920 {
			&.icon-cart-circle {
				font-size: 39px;
				color: #068292;
				transition: all 0.4s ease 0s;

				&:hover {
					color: $orange;
				}
			}
		}

		@include _490 {
			background-size: 35px;
			width: 35px;
			height: 35px;
		}

		span {
			font: {
				size: 18px;
				weight: 700;
			}
			position: absolute;
			line-height: 138%;
			right: 0;
			transform: translate(80%, 0);
			width: 41px;
			height: 25px;
			text-align: center;
			color: $fontColor;
			border-radius: 25px;
			background-color: $orange;
			@include _1024 {
				font: {
					size: 16px;
				}
				width: 34px;
				height: 22px;
				transform: translate(25%, -50%);
			}
			@include _375 {
				transform: translate(10%, -50%);
			}
		}
	}
}
