.order-place > ._tabcontent:not(._show) {
	display: none;
}
.cart {
	// .cart__title
	&__title {
		margin-bottom: 3rem;
		font-family: 'UniSansHeavyCaps';
		font-size: 3.6rem;
		font-weight: 900;
		text-transform: uppercase;
		color: #dadada;
		@include _490 {
			font-size: 3.3rem;
		}
	}

	// .cart__place-order
	&__place-order {
		padding: 2rem 3rem 3rem;
		background-color: #f3f3f3;
	}
	// .cart__shopping
	&__shopping {
		margin-bottom: 3rem;
	}
}

.order-place {
	// .order-place__tabs
	&__tabs {
		margin-bottom: 3rem;
		@include flex-align-center;
	}
	// .order-place__quick-order
	&__quick-order {
	}

	// .order-place__regions-delivery
	&__regions-delivery {
		display: flex;
	}
}

.quick-order {
}
.regions-delivery {
	// .regions-delivery __column

	&__column {
		&:nth-child(1) {
			flex: 25%;
		}
		&:nth-child(2) {
			flex: 25%;
		}
		&:nth-child(3) {
			flex: 50%;
			font-size: 12px;
			line-height: 18px;
			font-weight: 300;
			color: #666666;
			p {
				&:nth-child(1) {
					&::first-letter {
						color: $orange;
					}
				}

				span {
				}
				&:not(:last-child) {
					margin-bottom: 2rem;
				}
			}
		}
	}
}

.tab-button {
	// .tab-descriptions__item
	&__item {
		cursor: pointer;
		padding: 20px;
		font-size: 14px;
		line-height: 16px;
		font-weight: 900;
		text-transform: uppercase;
		color: #72c9d4;
		text-decoration: underline dashed;
		&._active {
			background-color: #72c9d4;
			color: #fff;
			text-decoration: none;
		}
	}
}

.shopping-cart {
	// .shopping-cart__items
	&__items {
		margin-bottom: 2.5rem;
	}
	// .shopping-cart__item
	&__item {
		padding: 2.5rem 5rem 1.7rem 0;
		margin-bottom: 10px;
		@include flex-align-center-justify-space-between;
		border: 1px solid #e7e7e7;
		position: relative;
		@include _490 {
			flex-wrap: wrap;
		}
	}

	// .shopping-cart__column
	&__column {
		&:nth-child(1) {
			@include flex-align-center;
		}
		&:nth-child(2) {
			@include _490 {
				flex: 1 1 auto;
				margin-left: 2rem;
			}

			@include flex-align-center-justify-space-between;
			white-space: nowrap;
		}
		&:last-child {
			margin-bottom: 2rem;
		}
	}

	// .shopping-cart__image
	&__image {
		padding: 0 2rem;
		img {
			width: 10.6rem;
		}
	}

	// .shopping-cart__title
	&__title {
		display: flex;
		flex-wrap: wrap;
		font-size: 1.4rem;
		line-height: 2.2rem;
		font-weight: 900;
		color: #36949f;
		p {
			margin-right: 1rem;
			display: inline;
			white-space: nowrap;
		}
		span {
			white-space: nowrap;
			font-weight: 300;
		}
	}

	// .shopping-cart__row

	&__row {
		&:not(:last-child) {
			margin-right: 1.5rem;
		}
		&:nth-child(2) {
			@include flex-align-center;
		}
	}

	// .shopping-cart__reset
	&__reset {
		cursor: pointer;
		position: absolute;
		display: block;
		top: 2.4rem;
		right: 1.5rem;
		content: '';
		width: 1.6rem;
		height: 1.6rem;
		background: url('../img/icons/remove.png') center / contain no-repeat;
		&:hover {
			background: url('../img/icons/reset_h.png') center no-repeat;
		}
	}

	// .shopping-cart__total
	&__total {
		text-align: right;
		padding-right: 1.5rem;
		span {
			margin-right: 2rem;
			font-size: 2.4rem;
			font-weight: 900;
			text-transform: uppercase;
			color: #333333;
		}
		.icon-ruble {
			&::before {
				font-size: 2.4rem;
				font-weight: 700;
				color: #f68038;
			}
		}
		.input-total {
			display: inline;
			text-align: right;
			width: 13.8rem;
			font-family: Roboto;
			font-size: 3.6rem;
			line-height: 2.4rem;
			font-weight: 900;
			color: #f68038;
		}
	}
}
.quantity-remove {
	&._disabled {
		opacity: 0.5;
	}
}
.card-name {
	// .card-name__new-price
	&__new-price {
		flex-direction: column;
		align-items: start;
		span {
			font-size: 1.6rem;
			line-height: 2.2rem;
			font-weight: 300;
			color: #999999;
		}
	}

	// .card-name__value-price
	&__value-price {
		min-width: 75px;
		display: flex;
		align-items: end;
		text-align: right;
		flex-direction: row;
	}

	// .card-name__quantity-price
	&__quantity-price {
	}
}
.icon-ruble {
	margin-left: 0.5rem;
}
