.burger-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
}

.burger-menu {
	position: relative;
	z-index: 3;
	overflow: visible;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.burger-menu {
	span,
	span:before,
	span:after {
		position: absolute;
		display: block;
		height: 3px;
		transition: 0.3s ease-in-out;
		opacity: 1;
		border-radius: 3px;
		background: #fff;
	}
}

// .burger-menu {
// 	span:before,
// 	span:after {
// 		content: '';
// 	}
// }

.burger-menu {
	span {
		top: 11px;
		right: 0;
		width: 16px;
		&::before {
			content: '';
			top: -9px;
			right: 0;
			width: 6px;
		}
		&::after {
			content: '';
			top: 9px;
			right: 0;
			width: 26px;
		}
	}
	&_open {
		span {
			top: 11px;
			right: 0;
			width: 26px;
			transform: scale(0.9755) rotate(-45deg);
			&::before {
				top: 0;
				right: 0;
				width: 26px;
				transform: rotate(-90deg);
			}
			&::after {
				width: 0;
				opacity: 0;
			}
		}
	}
}

.burger-menu {
	span:before {
		content: '';
		top: -9px;
		right: 0;
		width: 6px;
	}
}

.burger-menu {
	span:after {
		content: '';
		top: 9px;
		right: 0;
		width: 26px;
	}
}

.burger-menu._open {
	span {
		top: 11px;
		right: 0;
		width: 26px;
		transform: scale(0.9755) rotate(-45deg);
	}
}

.burger-menu._open {
	span:before {
		top: 0;
		right: 0;
		width: 26px;
		transform: rotate(-90deg);
	}
}

.burger-menu._open {
	span:after {
		width: 0;
		opacity: 0;
	}
}

.menu::-webkit-scrollbar {
	width: 0;
}

@include _690 {
	.menu {
		display: flex;
		overflow: auto;
		min-height: 100vh;

		&__grid-list {
			display: flex;
			align-items: start;
			flex: 0 1 100%;
			flex-direction: column;
			width: max-content;
			height: 100%;

			> :not(:last-child) {
				margin-bottom: 20px;
			}

			li {
				&:nth-child(n) {
					transition-delay: 0.5s;
				}
			}
		}

		&__link {
			font-size: 18px;
			display: block;
			height: auto;
		}

		.contacts-header {
			&__item {
				transform: translateX(-700px);
			}
		}

		li {
			height: auto;
			transform: translateX(-700px);

			color: rgb(0, 0, 0);
			text-shadow: -2px 2px 4px rgb(0, 255, 255);

			&:nth-child(2) {
				margin-left: 20px;
			}

			&:nth-child(4) {
				margin-left: 40px;
			}

			&:nth-child(5) {
				margin-left: 20px;
			}
		}

		&:before {
			position: fixed;
			z-index: 9;
			width: 100%;
			height: 90px;
			content: '';
			background: #009eb1;
		}
	}

	._overlay {
		.menu__grid-list {
			li {
				transition: transform 0.1s 0.3s $bounce;
				transform: translateX(0);

				&:nth-child(1) {
					transition-delay: 0.5s;
				}

				&:nth-child(2) {
					transition-delay: 0.7s;
				}

				&:nth-child(3) {
					transition-delay: 0.8s;
				}

				&:nth-child(4) {
					transition-delay: 0.9s;
				}

				&:nth-child(5) {
					transition-delay: 1.1s;
				}

				&:nth-child(6) {
					transition-delay: 1.2s;
				}
			}
		}

		.contacts-header {
			&__item {
				transition: all 0.5s ease-in-out;
				transition-delay: 0.5s;
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
}

@include _690 {
	#menu {
		position: fixed;
		top: -100%;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		min-width: 100%;
		height: 0;
		min-height: 100%;
		transition: all 0.3s ease-in-out;
		opacity: 0;
		background: #fff;
		background: linear-gradient(to right, #fff 20%, #80f0ff, #019eb3);
	}

	#menu._overlay {
		position: fixed;
		z-index: 2;
		top: 0;
		display: block;
		visibility: visible;
		min-width: 100%;
		min-height: 100%;
		transition: all 0.3s ease-in-out;
		opacity: 1;
		color: #00545d;
		background: #fff;
		background: linear-gradient(to right, #fff 20%, #80f0ff, #019eb3);
	}
}
