<div class="brands-slide__container _container">
	<div class=" brands-slide__body _swiper">
		<div class="brands-slide__slide">
			<a href=""><img src="img/main/brands/oxygen_logo.png" alt="Oxygen"></a>
		</div>
		<div class="brands-slide__slide">
			<a href=""><img src="img/main/brands/carbon.png" alt="Carbon"></a>
		</div>
		<div class="brands-slide__slide">
			<a href=""><img src="img/main/brands/hast_tings.png" alt="Hast Tings"></a>
		</div>
		<div class="brands-slide__slide">
			<a href=""><img src="img/main/brands/nordic-track.png" alt="Nordic Track"></a>
		</div>
		<div class="brands-slide__slide">
			<a href=""><img src="img/main/brands/clear-fit.png" alt="Clear Fit"></a>
		</div>
		<!-- br -->
		<div class="brands-slide__slide">
			<a href=""><img src="img/main/brands/oxygen_logo.png" alt="Oxygen"></a>
		</div>
		<div class="brands-slide__slide">
			<a href=""><img src="img/main/brands/carbon.png" alt="Carbon"></a>
		</div>
		<div class="brands-slide__slide">
			<a href=""><img src="img/main/brands/hast_tings.png" alt="Hast Tings"></a>
		</div>
		<div class="brands-slide__slide">
			<a href=""><img src="img/main/brands/nordic-track.png" alt="Nordic Track"></a>
		</div>
		<div class="brands-slide__slide">
			<a href=""><img src="img/main/brands/clear-fit.png" alt="Clear Fit"></a>
		</div>
	</div>
	<div class="brands-slide__arrows">
		<div class="brands-slide__arrow brands-slide__arrow_prev _arrow _arrow_prev"></div>
		<div class="brands-slide__arrow brands-slide__arrow_next _arrow _arrow_next"></div>
	</div>
</div>